/*variable*/
$white: #fff;

$red:#00c1de;
$red2:#28d0e9;
$redx: #e43c59; /*字体、背景*/
$red2x: #bf465b; /*hover效果*/
$red3: #00616f;
$op1:#9266f9;
$op2:#16c2c2;
$op3:#6fb1f9;

$fontActive:#ffdd40;

$darkGrey: #373d41;
$darkGrey3:#464d51;
$darkGrey2: #0e151f; /*边框*/
$darkGrey4: gray;
//$darkGrey: #293c55; /*背景*/
//$darkGrey3: #162436;  /*背景*/

$border:#ebeef5;

$gray:#999; /*边框*/
$gray2:#ddd;
$gray3:#f9f9f9;
$gray4:#ccc;
$gray5:#ddd;

$success:#67c23a;
$error:red;
$warn:#e6a23c;
$alert:#909399;

$scrollBar:#aaa;
$scrollBar2:#848484;




